/* ==========================================================================
Basic Styling
 ========================================================================== */ 
body { width: 100%; height: 100%; font-family: "Raleway", Lucida Sans Unicode, Arial, "Helvetica Neue", Helvetica, sans-serif;}
html { width: 100%; height: 100%;}

h1, h2, h3, h4, h5, h6 { margin: 0 0 35px; font-family: Montserrat,"Helvetica Neue", Helvetica,Arial,sans-serif; font-weight: 700; }
h1, h2, h3, h4, h5, h6 { margin-top: 0;  margin-bottom: 10px;}

h4 {font-size: 16px;}

p { font-family: 'Raleway', sans-serif; font-weight: 400; font-size: 14px; line-height: 29px; margin-bottom: 20px; }

a, a:visited { -webkit-transition: all 150ms ease-in; -moz-transition: all 150ms ease-in; -o-transition: all 150ms ease-in; transition: all 150ms ease-in;}
a { color: #00a8d6; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}
a:hover,
a:focus { text-decoration: none; color: #007DA0; outline: none; } 

ul { margin: 0; padding: 0; list-style: none;}
ul li {line-height: 28px;}

::-moz-selection { text-shadow: none; background: #1F1F1F; color: #FFF;}
::selection { text-shadow: none; background: #1F1F1F; color: #FFF; }

img::selection { background: 0 0;}
img::-moz-selection { background: 0 0;}

hr {margin: 63px 0; border-top: 1px solid #EFEFEF;}
body { webkit-tap-highlight-color: rgba(255,255,255,.2);}

/* ==========================================================================
Classes
 ========================================================================== */ 
.headline {text-align: center;}
	.headline h1 {color: #31373a; padding-bottom: 15px; border-bottom: 2px solid #DDD; display: inline-block;}
	.headline p {margin-bottom: 50px;}

.white h1 {color: #FFF;}
.white p {color: #FFF;}

.section {padding: 40px 0;}

.padding70top {padding-top: 70px;}

.bordered {border:1px solid #DDD;}
.border-left {border-left: 1px solid #DDD;}
.border-right {border-right: 1px solid #DDD;}
.border-top {border-top: 1px solid #DDD;}
.border-bottom {border-bottom: 1px solid #DDD;}
.nopadding-bottom {padding-bottom: 0;}

.divider70 {clear: both; height: 70px;}
.divider20 {clear: both; height: 20px;}
.divider35 {clear: both; height: 35px;}

.btn {-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.blue-btn { padding: 12px 15px; font-size: 12px; font-family: "Raleway", sans-serif; text-transform: uppercase; font-weight: 700; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background-color: #00a8d6; color: white;}
.blue-btn:hover { background-color: #31373a; color: #FFF;}

.tick-list {margin: 15px 0;}
.tick-list li {list-style: none; margin-bottom: 10px;}
.tick-list li i {margin-right: 10px; color: #00a8d6;}

.quote {color: #FFF; border: none; font-size: 40px; text-align: center; position: relative; font-weight: bold;}
.quote::before{  font-family:'FontAwesome'; content:"\f10d"; font-size: 20px; font-weight: bold; padding-right: 30px; font-weight: normal; }
.quote span {display: block; font-size: 16px; }

.text-center img {display: block; margin: 0 auto;}

/* ==========================================================================
Color Customizations
 ========================================================================== */ 
.bg-white {background-color: #FFF;}
.bg-grey {background-color: #F8F8F8;}
.bg-grey2 {background-color: #F5F5F5;}

.bg-blue {background-color: #00a8d6;}

.testimonial-bg {background:url(../img/testimonial-bg.jpg) no-repeat center center fixed; }
.bg-stats {background: url(../img/about-bg.jpg) no-repeat center center fixed; }
.bg-ipad {background: url(../img/ocean.jpg) no-repeat center center fixed;}
.bg-notebook {background: url(../img/notebook-bg.jpg) no-repeat center center fixed;}
.bg-ocean {background: url(../img/ocean.jpg) no-repeat center center fixed;}

.bg-grey-pattern {background: url(../img/grey-pattern.jpg);}

.cover {-webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover; position: relative;}

.color-blue {color: #4EA941;}
.color-white {color: #FFF;}

.overlay-bg {position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.3; background: rgba(0, 0, 0, 0.5); background: -webkit-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%); background:-moz-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%); background: -ms-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%); background: radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 0;}

/* ==========================================================================
Carousel Settings
 ========================================================================== */ 
.carousel-mod .carousel-indicators {position: static; display: block; width: auto; margin: 15px auto;}
.carousel-mod .carousel-indicators li {background-color: #A3A3A3; border: none; margin:0;}
.carousel-mod .carousel-indicators .active {background-color: #31373a; width: 10px; height: 10px;}
.carousel-mod .carousel-control.left, .carousel-mod .carousel-control.right {background: none; background-color: transparent; filter:none;}
.carousel-mod .carousel-control {top: 45%;}

/* ==========================================================================
 Navigation
 ========================================================================== */ 
.navbar-inverse { margin-bottom: 0; -webkit-border-radius: 0; -moz-border-radius: 0;border-radius: 0; padding: 15px 0; -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out; -moz-transition: background .5s ease-in-out,padding .5s ease-in-out; transition: background .5s ease-in-out,padding .5s ease-in-out; background-color: transparent; background: none;  border: none;}
.navbar-inverse .navbar-nav > li > a { color: #fff; display: block; -webkit-transition: all 100ms ease-in-out; -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -ms-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; text-transform: uppercase; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: bold;}

.menu-right {float: right;}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li {-webkit-transition: all 400ms linear; -moz-transition: all 400ms linear; -o-transition: all 400ms linear; -ms-transition: all 400ms linear; transition: all 400ms linear;}

.navbar-toggle { padding: 4px 6px; font-size: 16px; color: #fff;}
.navbar-toggle:focus,
.navbar-toggle:active { outline: 0;}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {background-color: transparent;}

.navbar-brand { padding: 10px 15px;}
.navbar-brand:hover { color: #fff;} 

.scroll-fixed-navbar { padding: 10px 0; background-color: #4EA941; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);}
.scroll-fixed-navbar .navbar-nav > li > a:hover, 
.scroll-fixed-navbar .navbar-nav > li.active > a { color: #333; }

.navbar-toggle { position: relative; float: right; background-color: transparent; padding: 10px; margin: 13px 30px 13px 0; border: none; color: #fff; border: 2px solid #fff;}
.navbar-toggle .icon-bar { background-color: #fff;}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color: rgba(0,0,0,0.1);}

/* ==========================================================================
Logo
 ========================================================================== */ 
.navbar-inverse .navbar-brand  {color: #FFF; font-size: 30px; font-weight: 700; padding: 15px;}

/* ==========================================================================
Intro Slider
 ========================================================================== */ 
html, body {height: 100%;}
.carousel, .item, .active {height: 100%;}
.carousel-inner {height: 100%;}

.slide1 {background-image:url(../img/background1.jpg);background-position: center;}
.slide2 {background-image:url(../img/background2.jpg);background-position: center;}
.slide3 {background-image:url(../img/background3.jpg);background-position: center;}

#main-slider {background: #1A1A1A;}
#main-slider .carousel-caption { top: 40%; text-align:center; }
#main-slider .carousel-caption h2 {font-size: 40px; }
#main-slider .carousel-caption h4 {padding-top: 15px; border-top: 3px solid #DDD; display: inline-block; color: #EFEFEF; margin-top: 10px;}

.carousel-fade .carousel-inner .item { opacity: 0; -webkit-transition-property: opacity; transition-property: opacity;}
.carousel-fade .carousel-inner .active {opacity: 1;}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1;}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {opacity: 1;}
.carousel-fade .carousel-control {z-index: 2;}


#main-slider .carousel [data-slide] { visibility: hidden; }
#main-slider .carousel:hover [data-slide] { visibility: visible; }

/* ==========================================================================
Call To Action
 ========================================================================== */ 
.call-to-action { padding: 25px 0; border-bottom: 1px solid #dce4e6; text-align: center;}
.call-to-action h4 {font-size: 15px; font-weight: normal; margin-top: 10px; border-right:1px solid #DDD;}
.call-to-action h4 strong {text-transform: uppercase; font-size: 16px;}
.icon-button { margin-left: 15px; }
 
/* ==========================================================================
Intro
 ========================================================================== */ 
.main-point p {margin-bottom: 0;}
.main-point i { background-color: #4EA941; width: 70px; height: 70px; border-radius: 35px; color: #FFF; line-height: 70px; text-align: center; font-size: 30px; display: inline-block; margin-right: 30px; float: left; margin-right: 20px;}
.main-point h4 { margin-bottom: 10px; }
 
/* ==========================================================================
Stats
 ========================================================================== */ 
.stats h4 {color: #FFF;}
.stats {text-align: center;}
.stats p {color: #FFF; font-size: 22px; margin-bottom: 35px; }
.stats p span {border-bottom: 3px solid #FFF; padding-bottom: 15px; }
.stats i {border-radius: 50%; background: rgba(0,0,0,0.2); width: 110px; height: 110px; line-height: 100px; border: 2px solid rgba(0,0,0,0.1); margin-bottom: 20px;}
 
/* ==========================================================================
About
 ========================================================================== */ 
.members-detail {text-align: center; background-color: #FFF; border-radius: 4px; padding-bottom: 30px; margin-top: 30px; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; }
.members-detail:hover { -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); cursor: pointer;}
.members-detail h4 { display: inline-block; padding-bottom: 10px; border-bottom: 2px solid #DDD;}
.members-detail img {margin-bottom: 20px; border-radius: 4px 4px 0 0; }
.members-social {display: block;}
.members-social li {display: inline-block;  height: 40px; width: 40px; border:1px solid #EFEFEF; line-height: 40px;}
.members-social li:hover a{color:#31373a;}
 
/* ==========================================================================
Skills
 ========================================================================== */ 
.skill { text-align: center;}
.skill h4 {color: #FFF; margin-top: -80px; padding-bottom: 80px; font-size: 14px;}
.knob {font-family: "Raleway", Lucida Sans Unicode, Arial, "Helvetica Neue", Helvetica, sans-serif!important; margin-top: 50px!important;  font-weight: normal!important; font-size: 24px!important;}

/* ==========================================================================
Portfolio 
 ========================================================================== */
.hover-details {width: 100%; height: auto; overflow: hidden; position: relative; -moz-transition: all ease 400ms ease-in-out; -webkit-transition: all ease 400ms ease-in-out; -o-transition: all ease 400ms ease-in-out; transition: all ease 400ms ease-in-out; margin-bottom: 40px; }
.hover-details .img-cover { width: 100%; height: 100%; opacity: 0; position: absolute; top: 0; left: 0; background: rgba(0, 168, 214, 0.8); -moz-transition: all ease 400ms ease-in-out; -webkit-transition: all ease 400ms ease-in-out; -o-transition: all ease 400ms ease-in-out; transition: all ease 400ms ease-in-out; border-radius:3px; }
.hover-details > img { width: 100%; height: auto; -moz-transition: all ease 400ms ease-in-out; -webkit-transition: all ease 400ms ease-in-out; -o-transition: all ease 400ms ease-in-out; transition: all ease 400ms ease-in-out;}

.img-zoom { width:50px; height:50px; background-color: #d5512b; line-height: 50px; position: absolute; top: -50%; left: 50%; border-radius: 50%; margin-top: -25px; margin-left:  -25px; -webkit-transition: all ease 400ms ease-in-out; -moz-transition: all ease 400ms ease-in-out; -ms-transition: all ease 400ms ease-in-out; -o-transition: all ease 400ms ease-in-out; transition: all ease 400ms ease-in-out; text-align: center;}
.img-zoom i {color: #FFF;}

.img-cover h3 { width: 100%;	 position: absolute; bottom: -28%; color: #f8f8f8; font-size: 16px; text-align: center;	 padding: 0 10px; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;}

.hover-details:hover {cursor: pointer;}
.hover-details:hover > img { transform: scale(1.2); -ms-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); -moz-transform: scale(1.2);}
.hover-details:hover .img-zoom { top: 45%;}
.hover-details:hover .img-cover h3 { bottom: 28%;}
.hover-details:hover .img-cover { opacity: 1;}
.img-zoom:hover { background-color: #333;}

/* ==========================================================================
Testimonials
 ========================================================================== */ 
.testimonial-inner {text-align: center;}
.testimonial-inner img {margin-bottom: 15px;}
.testimonial-inner p {display: block; position: relative; font-size: 16px;}
.testimonial-inner p::before{  font-family:'FontAwesome'; content:"\f10d"; font-size: 20px; font-weight: bold; padding-right: 30px; font-weight: normal; }
.testimonial-inner small {display: inline-block; border-top: 2px solid #333; padding-top: 10px; font-size: 14px; font-weight: bold;}

/* ==========================================================================
Services
 ========================================================================== */
.services-list {margin-bottom: 40px;}
.services-list i { background-color: #4EA941; width: 60px; height: 60px; border-radius: 30px; color: #FFF; line-height: 60px; text-align: center; font-size: 30px; display: inline-block; margin-right: 30px; float: left; margin-right: 20px;}

/* ==========================================================================
Contact
 ========================================================================== */ 
.contact-form input[type="text"], .contact-form textarea { color: #818181; border: 1px solid #dddddd; outline: none; width: 100%; padding: 15px 20px; display: block; margin-bottom: 15px; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;  }
.contact-form textarea { min-height: 200px;}
.contact-form button { width: 100%; text-align: center; color: #fff; padding: 15px 0; background: #00a8d6; margin-bottom: 15px; border: none; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; text-transform: uppercase; font-weight: bold;}
.contact-form button i { color: #fff; font-size: 24px;}
.contact-form button:hover{ opacity: 0.8;}
.contact-list i {border: 1px solid #DDD; border-radius: 20px; height: 40px; width: 40px; text-align: center; line-height: 40px; margin-right: 10px; margin-bottom: 10px;}

/* ==========================================================================
Google Map
 ========================================================================== */ 
 #map {height: 400px;}
 
 /* ==========================================================================
   Video Container
============================================================================ */
.video-container { position:relative;}
.video-container iframe{ width:100%; height: 480px; border:none;}

/* ==========================================================================
Footer
 ========================================================================== */
#footer {background-color: #2c2c2c; padding: 30px 0;}
#footer p { color: #aaa; margin-bottom: 0;	}
#footer a {color: #FFF;}

.copyright {float: right;}
.copyright i {color: #FF3D7F; margin:0 5px;}

/* ==========================================================================
Social Links
 ========================================================================== */
.social li {display: inline-block; width: 35px; height: 35px; border-radius: 3px; text-align: center; line-height: 35px; webkit-transition: background-color 400ms ease-out 0.2s; -moz-transition: background-color 400ms ease-out 0.2s; -o-transition: background-color 400ms ease-out 0.2s; transition: background-color 400ms ease-out 0.2s;}
.social li a { color: #fff; }
.social li.facebook { background: #204385; }
.social li.twitter { background: #4EA941; }
.social li.google-plus { background: #d3492c; }
.social li.linkedin { background: #0073b2; }
.social li.skype { background: #00b0f6; }
.social li.youtube { background: #e22d24; }
.social li:hover {background:#31373a; cursor: pointer; }

/* ==========================================================================
Scroll To Top
 ========================================================================== */
a.scroll-up { display: none; position: fixed; right: 10px; bottom: 10px; padding:5px 10px; background: #00a8d6; text-align: center; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-transition: -moz-transform 0.8s ease-in-out; -o-transition: -o-transform 0.8s ease-in-out; -webkit-transition: -webkit-transform 0.8s ease-in-out; transition: transform 0.8s ease-in-out; -webkit-backface-visibility: hidden;}
a.scroll-up i {color: #FFF;}
a.scroll-up:hover, 
a.scroll-up:focus { -moz-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); background: #31373a;}


/* ---------------------------------------------------------------------- */
/*	Media Queries (to make the layout responsive)
/* ---------------------------------------------------------------------- */

/* ------ Tablet Portrait size to standard 960 (devices and browsers) ------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* ------ Mobile Landscape Size to Tablet Portrait (devices and browsers) ------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.menu-right {background: #00A8D6;}
	.navbar-inverse .navbar-toggle {padding: 10px; background: #333;}
	.navbar-inverse .navbar-nav > li > a {text-align: center;}
	.menu-right {float: none;}
	p {}
	h4 {}
	hr { margin: 15px 0;}
	.call-to-action h4 { border: none;}
	.call-to-action h4 strong {display: block; margin-bottom: 10px;}
	.section {padding: 70px 0;}
	.main-point {margin-bottom: 40px;}
	.stats {margin-bottom: 50px;}
	.services-list i {margin-bottom: 20px;}
	.video-container {margin-bottom: 40px;}
	.members-holder{width:80%; float: none; margin:20px auto;}
}

/* ------ Mobile Portrait Size to Mobile Landscape Size (devices and browsers) ------*/
@media only screen and (max-width: 479px) {
	.menu-right {background: #4EA941;}
	.navbar-inverse .navbar-toggle {padding: 10px; background: #333;}
	.navbar-inverse .navbar-nav > li > a {text-align: center;}
	.menu-right {float: none;}
	p {font-size: 13px;}
	h4 {font-size: 16px; line-height: 25px;}
	hr { margin: 15px 0;}
	.call-to-action h4 { border: none;}
	.call-to-action h4 strong {display: block; margin-bottom: 10px;}
	.headline h1 {font-size: 30px;}
	.section {padding: 50px 0;}
	.main-point {margin-bottom: 40px; border: none; float: none; width: 100%;}
	.stats {margin-bottom: 50px; float: none; width: 100%;}
	.members-holder{width:80%; float: none; margin:20px auto;}
	.services-list i {margin-bottom: 20px;}
	.video-container {margin-bottom: 40px;}
	.img-cover h3 {display: none;}
	#footer {text-align: center;}
	.copyright {float: none;}
}

